</div>
</div>
</div>
<br><br><br>
<hr>
<p class="text-center">&COPY; CmsShoppingCart</p>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.fancybox.min.js"></script>
<script src="/js/main.js"></script>
  </body>
</html>